@model WebStore.Models.ProductModel

@{
    ViewBag.Title = "Index";
}

<h2>Cart</h2>
<p>User can edit quantity or remove items from cart.</p>

<button type="submit" class="btn btn-primary" value="Checkout">Checkout</button>
