@model List<WebStore.Models.CartModel>
@{
    ViewBag.Title = "Index";
}

<h2>Cart</h2>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-6">
            <p>@item.Name</p>
        </div>
        <div class="col-md-4">
            <p>@item.Description</p>
        </div>
        <div class="col-md-2">
            <p>@item.Quantity</p>
        </div>
    </div>
}

<button type="submit" class="btn btn-primary" value="Checkout">Checkout</button>
