#bootstrap-override body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 16px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#bootstrap-override .navbar-brand {
    font-family: 'Pacifico', cursive, sans-serif;
    font-size: 26px;
}

.home-image {
    border-radius: 6px;
    width: 100%;
}

.btn-login {
    float: right;
}

.product img {
    width: 100%;
}

.product h3 {
    font-style: italic;
    margin-top: 2px;
    margin-bottom: 30px;
    color: #273235;
}

.product p {
    float: right;
    margin-top: -50px;
}

#bootstrap-override .navbar-inverse {
    background-color: #FFA69E;
    border-color: #FF7E6B;
}

#bootstrap-override .navbar-inverse .navbar-brand {
    color: #FFF7F8;
}

#bootstrap-override .navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.body-content {
    margin-top: 51px;
}

#bootstrap-override .btn-primary {
    color: #333;
    background-color: #A9F0D1;
    border-color: #A9F0D1;
}

/*

font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;

*/