@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-sm-12 col-md-6">
        <img src="~/Images/about-us.jpg" class="about"/>
    </div>
    <div class="col-sm-12 col-md-6">
        <h2 class="fancy-name">About Us</h2>
        <p>
            Lorem ipsum dolor sit amet, te vidit alienum noluisse est, dignissim interesset has ex. Mel ne iisque aliquid.
            Vim libris luptatum perpetua ut, ex recteque consequuntur nec. Sit discere reformidans ex, cu vim augue altera tibique.
            Pri quot graece possit no, est simul utroque corpora ea. Eum ei enim choro, ad eos congue utinam partem.<br />
            <br />
            Suscipit volutpat ad per, pri et fabulas inimicus, dolor delenit sit eu.
            Ad usu graeci noster deserunt, cu cum prompta eligendi. Pri at omnis admodum.
            Sea ad duis ludus prodesset, has in audire iuvaret, essent molestiae scriptorem eos ad. Vix at adipisci aliquando sententiae.<br />
            <br />
            Vocent epicurei sapientem per cu, vim at vocent complectitur. Ne assum mazim mei.
            Novum harum impedit vis id, ne suas idque harum nam, no quis aliquip reformidans per.
            Ad ridens denique praesent his, eum ut utamur inciderint disputando.<br />
            <br />
            Sed pertinax cotidieque ad. Nam et cetero nominavi, graeco nonumes nominati no vim, quo eirmod conclusionemque ex.
            Illud omittam deseruisse eum at, ei qui harum tantas eligendi. Cu tale sumo eleifend vel, veri fastidii cu pro.
            Nec in ridens malorum perpetua. 
        </p>
    </div>
</div>
